body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background: #355E58;
  color: #355E58;
}

header {
  background: #81B29A;
  color: #333;
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.hero {
  background: url('images/beach.jpg') no-repeat center;
  background-size: cover;
  padding: 100px 20px;
  color: white;
  text-align: center;
}

.info {
  padding: 40px 20px;
  background: white;
  text-align: center;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
}
bobdy, .split-section, .info, .hero, header, footer {
  max-width:1200px;
  margin-left: auto;
  margin-right:auto;
  padding-left:20px;
  padding-right:20px;
  box-sizing: border-box;
}
